<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./component/user/head')%>
    <title>ระบบลงกิจกรรมอาสาสมัครกู้ภัยลำปาง</title>
    <style>
      .bgimg{
        background-image: url("https://previews.123rf.com/images/sanek13744/sanek137441806/sanek13744180600463/103581659-blockchain-technology-icon-seamless-pattern-background-business-concept-vector-illustration-cryptogr.jpg");
        background-repeat:repeat;
        /* background-size: 100%; */
        height: 500px;
        position: relative;
        z-index: -1;
      }
  
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
    }
    

    </style>
  </head>
  <body id="page-top"  id="loadedPage">
    <div id="loader"></div>
    <%- include ('./component/user/navbar')%>
    <div style="display:none;" id="loadedPage" class="animate-bottom">
    <div class="text-center margin-20">
      <img
        class="img-fluid rounded "
        src="/image/logoRescue.png"
        alt="image"
      />
    </div>

    <div class="container wrapper">

      <div class="row text-center mt-4">
        <div class=" col-sm-12 col-md-3">
          <%- include ('./component/user/sidebar')%>
        </div>
        <!-- end col-4 -->

        <div class=" col-sm-12 col-md-9">
          <%- include ('./component/user/tableHome')%>
        </div>
        <!-- end col-7 -->
      </div>

      <div id="text-box-sha" class="mb-5 text-center">
        <h1 class="display-5 text-danger">ปฏิทินกิจกรรม</h1>
        <p style="line-height: 5px" class="text-danger">
          <% 
          const nowDate = new Date();
          var dd = nowDate.getDate() 
          var mm = nowDate.getMonth() + 1
          var yyyy = nowDate.getFullYear()+543
          if (dd < 10) {
            dd = '0' + dd;
          } 
          if (mm < 10) {
            <!-- mm = '0' + mm; -->
          } 

          const monthArray = ["","มกราคม","กุมภาพันธ์","มีนาคม","เมษายน","พฤษภาคม","มิถุนายน","กรกฎาคม","สิงหาคม","กันยายน","ตุลาคม","พฤศจิกายน","ธันวาคม"] 
          mm = monthArray[mm]
          var today = mm + ' ' + yyyy; %>
          %>
          (ประจำเดือน : <%= today%> )
        </p>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">วันที่จัดกิจกรรม</th>
              <th scope="col">กิจกรรม</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% listDateActivity.map((value,index) => { %>
           <%  
           var dd = value.actDate.getDate() 
           var mm = value.actDate.getMonth() + 1
           var yyyy = value.actDate.getFullYear()
           if (dd < 10) {
             dd = '0' + dd;
           } 
           if (mm < 10) {
             <!-- mm = '0' + mm; -->
           } 
 
           const monthArray = ["","มกราคม","กุมภาพันธ์","มีนาคม","เมษายน","พฤษภาคม","มิถุนายน","กรกฎาคม","สิงหาคม","กันยายน","ตุลาคม","พฤศจิกายน","ธันวาคม"] 
           mm = monthArray[mm]
          var today = dd + ' ' + mm  %>
            <tr>
              <td><%= today %></td>
              <td><%= value.actName %></td>
              <td><button 
                data-toggle="modal" data-target="#ModalShowActivity<%= index %>"
                class="btn btn-sm btn-info">ดูรายละเอียด</button></td>
            </tr>

<!-- Modal -->
<div class="modal fade" id="ModalShowActivity<%= index %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h4>กิจกรรม <%= value.actName %></h4>
        <%= value.actDetail %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm btn-block" data-dismiss="modal">ปิดหน้าต่าง</button>
      </div>
    </div>
  </div>
</div>


            <% }) %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
    <%- include ('./component/user/footer.ejs')%>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
  ></script>

  <script>
    $(window).scroll(function () {

        var scrolltop = $(this).scrollTop();

        if (scrolltop > 1) {
            $('#navbar').css('padding', '0 16px')
        }
        else {
            $('#navbar').css('padding', '16px')
        }


    });


</script>
  <script>
    var myVar;
    

    
    $(document).ready(function() { // พอ DOM โหลดเสร็จ -> รัน document.ready -> พอรูป และ Element อื่น ๆโหลดเสร็จ -> รัน window.onload 
    setTimeout(() => {
      document.getElementById("loader").style.display = "none";
    document.getElementById("loadedPage").style.display = "block";
    }, 100)
    
});


    </script>

</html>
