<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./component/user/head')%>
    <title>Home</title>
    <style>
      .bgimg{
        background-image: url("https://previews.123rf.com/images/sanek13744/sanek137441806/sanek13744180600463/103581659-blockchain-technology-icon-seamless-pattern-background-business-concept-vector-illustration-cryptogr.jpg");
        background-repeat:repeat;
        /* background-size: 100%; */
        height: 500px;
        position: relative;
        z-index: -1;
      }

    </style>
  </head>
  <body id="page-top loadedPage"   onload="myFunction()">
    <div id="loader"></div>
    <%- include ('./component/user/navbar')%>
    <div style="display:none;" id="loadedPage" class="animate-bottom">
    <div class="text-center margin-20">
      <img
        class="img-fluid rounded "
        src="https://www.jtexpress.co.th/indexUploads/images/20200106/d8ba670b21a496fa1e4ef81f72c55306.jpg"
        alt=""
      />
    </div>

    <div class="container wrapper">

      <div class="row text-center mt-4">
        <div class="col-3">
          <%- include ('./component/user/sidebar')%>
        </div>
        <!-- end col-4 -->

        <div class="col-8">
          <%- include ('./component/user/tableHome')%>
        </div>
        <!-- end col-7 -->
      </div>

      <div id="text-box-sha" class="mb-5 text-center">
        <h1 class="display-5 text-danger">ปฏิทินกิจกรรมที่กำลังจะถึง</h1>
        <p style="line-height: 5px" class="text-danger">
          (ประจำเดือน : ธ.ค. 2562)
        </p>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">วันที่จัดกิจกรรม</th>
              <th scope="col">กิจกรรม</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>12-13 ธ.ค</td>
              <td>รายงานตัว</td>
            </tr>
            <tr>
              <td>15 ธ.ค</td>
              <td>วันที่สภาวิชาการให้ความเห็นชอบ</td>
            </tr>
            <tr>
              <td>15 ธ.ค</td>
              <td>วันที่สภาวิชาการให้ความเห็นชอบ</td>
            </tr>
            <tr>
              <td>15 ธ.ค</td>
              <td>วันที่สภาวิชาการให้ความเห็นชอบ</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <%- include ('./component/user/footer.ejs')%>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
  ></script>

  <script>
    $(window).scroll(function () {

        var scrolltop = $(this).scrollTop();

        if (scrolltop > 1) {
            $('#navbar').css('padding', '0 16px')
        }
        else {
            $('#navbar').css('padding', '16px')
        }


    });


</script>
  <script>
    var myVar;
    
    function myFunction() {
      myVar = setTimeout(showPage, 100);
    }
    
    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("loadedPage").style.display = "block";
    }
    </script>

</html>
