<!-- toggled -->
<ul class="sidebar  navbar-nav">
    <li class="F14 nav-item <%= data.dashboard === true ? 'active' : '' %> ">
      <a class="nav-link" href="/main">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        แผงควบคุม
      </a>
    </li>
    <li 

    class="nav-item <%= data.managerUser === true ? 'active' : '' %>">
        <a 
        class="nav-link F14" href="/ManagerUser">
          <i class="fas fa-users"></i>
          จัดการบุคลากร</a>
      </li>
    <li class="F14 nav-item <%= data.managerActivity === true ? 'active' : '' %>">
      <a 
      
      class="nav-link" href="/ManagerActivity">
        <i class="fas fa-fw fa-chart-area"></i>
        จัดการงานกิจกรรม</a>
    </li>
    <li class="F14 nav-item <%= data.managerResource === true ? 'active' : '' %>">
      <a class="nav-link" href="/ManagerResource">
        <i class="fas fa-box-open"></i>
        จัดการทรัพยากร</a>
    </li>
    <li class="F14 nav-item <%= data.report === true ? 'active' : '' %>">
      <a class="nav-link" href="/report">
        <i class="fas fa-fw fa-folder"></i>
        รายงาน</a>
    </li>

    <li class="F14 nav-item ">
      <a data-toggle="modal" data-target="#logoutModal"  class="text-danger nav-link" href="/ManagerResource">
        <i class="text-danger fas fa-sign-out-alt"></i>
        ออกจากระบบ</a>
    </li>
  </ul>
       <!-- Logout Modal-->
       <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">ต้องการออกจากระบบ ?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">ยกเลิก</button>
              <a class="btn btn-danger" href="/logout">ออกจากระบบ</a>
            </div>
          </div>
        </div>
      </div>