<div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Data Table Example
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>รายการ</th>
              <th>จำนวน</th>
              <th>ตัวเลือก</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>รายการ</th>
              <th>จำนวน</th>
              <th>ตัวเลือก</th>
            </tr>
          </tfoot>
          <tbody>
            <% listsResource.map((value,index) => { %>
            <tr>
              <td><%= value.res_Name %></td>
              <td><%= value.res_Amount %></td>
              <td>
                  <button class="btn btn-sm btn-secondary"><i class="fas fa-search"></i></button>
                  <button 
                  onclick="javascript:window.location.href='/ManagerResource/editresource/<%= value.res_id %>'"
                  class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></button>
                  <button 
                  data-toggle="modal" data-target="#DeleteModal<%= index%>"
                  class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
              </td>
            </tr>

               <!-- modal -->
               <div class="modal fade" id="DeleteModal<%= index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">ต้องการลบใช่ไหม ?</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">เลือก"ลบ"เพื่อลบข้อมูลออกจากฐานข้อมูลทั้งหมด</div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">ยกเลิก</button>
                      <a class="btn btn-primary" href="/ManagerResource/delresource/<%= value.res_id %>">ลบ</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End modal -->

           <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>

</div>