<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    ตารางบุคลากร
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>รูป</th>
              <th>รหัส</th>
              <th>ชื่อ-นามสกุล</th>
              <th>พื้นที่ดูแล</th>
              <th>เพศ</th>
              <th>สถานะ</th>
              <th>ตัวเลือก</th>
            </tr>
          </thead>
          <tbody>
            <% listsUser.map((value, index) => {  %>
            <tr>
              <td class="align-middle"><img style="width: 100px;" src="/uploads/<%= value.userImage %>" alt=""></td>
              <td class="align-middle"><%= value.userPosition%></td>
              <td class="align-middle"><%= value.userFname +' '+ value.userLname%></td>
              <td class="align-middle">เกาะคา</td>
              <td class="align-middle"><%= value.userSex %></td>
              <td class="align-middle"><%= value.userStatus %></td>
              <td class="align-middle">
                <button 
                class="btn btn-sm btn-secondary"
                ><i class="fas fa-search"></i></button>
                <button onclick="javascript:window.location.href='/ManagerUser/edituser/<%= value.userId %>'"
                  class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></button>
                <button data-toggle="modal" data-target="#DeleteModal<%= index%>" class="btn btn-sm btn-danger"><i
                    class="fas fa-trash"></i></button>
              </td>
            </tr>

               <!-- modal -->
               <div class="modal fade" id="DeleteModal<%= index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog" role="document">
                 <div class="modal-content">
                   <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">ต้องการลบใช่ไหม ?</h5>
                     <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">×</span>
                     </button>
                   </div>
                   <div class="modal-body">เลือก"ลบ"เพื่อลบข้อมูลออกจากฐานข้อมูลทั้งหมด</div>
                   <div class="modal-footer">
                     <button class="btn btn-secondary" type="button" data-dismiss="modal">ยกเลิก</button>
                     <a class="btn btn-primary" href="/ManagerUser/deluser/<%= value.userId %>">ลบ</a>
                   </div>
                 </div>
               </div>
             </div>
             <!-- End modal -->

            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

              


                    

