<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
    <title>เพิ่มทรัพยากร</title>
</head>


<body id="page-top"  id="loadedPage" onload="myFunction()">
  <div id="loader"></div>
    <%- include('../../component/admin/navbar')%>
 
   <div id="wrapper">
 
     <!-- Sidebar -->
     <%- include('../../component/admin/sidebar.ejs')%>
 
     <div id="content-wrapper">
       <div class="container-fluid">



        <% if (data.isEdit === true) { 
          resource.map(value => { %>

         <!-- Breadcrumbs edit -->
         <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/ManagerResource">จัดการทรัพยากร</a>
          </li>
          <li class="breadcrumb-item active">แก้ไขทรัพยากร</li>
        </ol>

 <!-- DataTables Example edit -->
 <div style="display:none;" id="loadedPage" class="animate-bottom">
 <div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">แก้ไขทรัพยากร</div>
    <div class="card-body">
      <form action="/ManagerResource/editresource/<%= value.resId %>" method="POST">
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input 
                minlength="5"
                maxlength="30"
                value="<%= value.resName %>" type="text" name="name" id="name" class="form-control" placeholder="ชื่อกิจกรรม" required="required" autofocus="autofocus">
                <label for="name">ชื่อทรัพยากร</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-label-group">
                <input value="<%= value.resAmount %>" type="number" name="amount" id="amount" class="form-control" placeholder="วันที่จัดกิจจกรม" required="required">
                <label for="amount">จำนวน</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <textarea 
            minlength="5"
              maxlength="255"
            type="textarea" name="detail" id="detail" class="form-control" required="required"><%= value.resDetail %></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-success">แก้ไข</button>
      </form>
    </div>
    </div>
  </div>
</div>
<!-- /.container-fluid edit-->



           <% })} else {%>

         <!-- Breadcrumbs edit -->
         <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/ManagerResource">จัดการทรัพยากร</a>
          </li>
          <li class="breadcrumb-item active">เพิ่มทรัพยากร</li>
        </ol>

 <!-- DataTables Example add -->
 <div style="display:none;" id="loadedPage" class="animate-bottom">
 <div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">+เพิ่มทรัพยากร</div>
    <div class="card-body">
      <form action="/addresource" method="POST">
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input 
                minlength="5"
                maxlength="30"
                value="" type="text" name="name" id="name" class="form-control" placeholder="ชื่อกิจกรรม" required="required" autofocus="autofocus">
                <label for="name">ชื่อทรัพยากร</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-label-group">
                <input value="" type="number" name="amount" id="amount" class="form-control" placeholder="วันที่จัดกิจจกรม" required="required">
                <label for="amount">จำนวน</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <textarea
              minlength="5"
              maxlength="255"
            type="textarea" name="detail" id="detail" class="form-control" placeholder="รายละเอียดทรัพยากร" required="required"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-success">บันทึก</button>
        <button type="reset" class="btn btn-secondary">เคลียร์</button>
      </form>
    </div>
    </div>
  </div>
</div>
<!-- /.container-fluid add-->
<% } %>

       <!-- Sticky Footer -->
       <footer class="sticky-footer">
         <div class="container my-auto">
           <div class="copyright text-center my-auto">
             <span>powered by Marutthep Rompho Sotfware lpru</span>
           </div>
         </div>
       </footer>
 
     </div>
     <!-- /.content-wrapper -->
 
   </div>
   <!-- /#wrapper -->
 
   <!-- Scroll to Top Button-->
   <a class="scroll-to-top rounded" href="#page-top">
     <i class="fas fa-angle-up"></i>
   </a>
 

 <%- include('../../component/admin/scriptJs')%>
 
 </body>
</html>