<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../../component/admin/head')%>
  <title>backend : สมาคมกู้ภัยจังหวัดลำปาง</title>


</head>

<body id="page-top"  id="loadedPage" onload="myFunction()">
  <div id="loader"></div>

   <%- include('../../component/admin/navbar')%>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../../component/admin/sidebar')%>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/ManagerResource">จัดการทรัพยากร</a>
          </li>
          <li class="breadcrumb-item active">ประวัติย้อนหลัง</li>
        </ol>
        <!-- DataTables Example -->
        <button 
        id="addResouce" 
        onclick="javescript:window.location.href='/ManagerResource/addresource'"
        class="p-2 mb-3 btn btn-success btn-sm"><i class="fas fa-plus"></i> เพิ่มทรัพยากร</button>
        <button 
        onclick="javascript:window.location.href='/historyAll'"
        class="p-2 mb-3 btn btn-secondary btn-sm"><i class="far fa-calendar-alt"></i> ประวัติย้อนหลัง</button>
        <button 
        onclick="javascript:window.location.href='/historyOneDay'"
        class="p-2 mb-3 btn btn-light btn-sm"><i class="far fa-calendar-check"></i> ทรัพยากรที่ใช้แต่ละวัน</button>
        <button 
        onclick="javascript:window.location.href='/checkReturn'"
        class="p-2 mb-3 btn btn-light btn-sm"><i class="fas fa-undo"></i> ทรัพยากรรอคืน</button>
        <div class="float-right">
          <button
          onclick="javascript:window.location.href='/exportResource'"
          class="p-2 mb-3 btn btn-warning btn-sm"><i class="fas fa-exchange-alt"></i> เบิกทรัพยากร</button
            >
        </div>
  

        <div style="display:none;" id="loadedPage" class="animate-bottom">
<div class="table-responsive mb-5">
  <table class="table table-bordered " id="example"  width="100%" cellspacing="0">
      <thead class="thead-light">
          <tr>
            <th>วัน/เดือน/ปี</th>
            <th>ทรัพยากร</th>
            <th>กิจกรรมที่เบิก</th>
            <th class="text-center">จำนวน</th>
            <th class="text-center">สถานะ</th>
            <th>ผู้รับผิดชอบ</th>
          </tr>
      </thead>
      <tbody>
        <% if(listHitoryAll != ''){ %>
          <% listHitoryAll.map((value,index) => {  %>
          <%  
          var dd = value.deRes_date.getDate() 
          var mm = value.deRes_date.getMonth() + 1
          var yyyy = value.deRes_date.getFullYear()+543
          if (dd < 10) {
            dd = '0' + dd;
          } 
          if (mm < 10) {
            <!-- mm = '0' + mm; -->
          } 

          const monthArray = ["","มกราคม","กุมภาพันธ์","มีนาคม","เมษายน","พฤษภาคม","มิถุนายน","กรกฎาคม","สิงหาคม","กันยายน","ตุลาคม","พฤศจิกายน","ธันวาคม"] 
          mm = monthArray[mm]
         var today = dd + ' ' + mm + ' ' + yyyy;
      %>
          <tr>
              <td><%= today %></td>
              <td><%= value.resName %></td>
              <td><%= value.actName %></td>
              <td class="text-center <%= value.deRes_status == 'เบิก' ? 'text-danger'  : 'text-success' %>" ><%= value.total %></td>
              <!-- <td class="text-center <%= value.deRes_status == 'เบิก' ? 'text-danger'  : 'text-success' %>" ><%= value.deRes_status == 'เบิก' ?    '-'  : '+' %> <%= value.total %></td> -->
              <td class="text-center <%= value.deRes_status == 'เบิก' ? 'text-danger'  : 'text-success' %>" ><%= value.deRes_status %></td>
              <td>

                <% if(value.userFname == 'ไม่มีผู้รับผิดชอบ') { %>
              
              <% } else{ %>
                <button class="pointer btn btn-sm btn-outline-info " data-toggle="modal" data-target="#ModalShowImage<%= index%>">
                  <%= value.userFname + ' ' + value.userLname %> 
              </button>
                <%  } %>
              </td>
          </tr>




       <!-- Modal -->
       <div class="modal fade" id="ModalShowImage<%= index %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">คุณ <%= value.userFname + ' ' + value.userLname%></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card text-center">
                <img class="align-self-center" src="/uploads/<%= value.userImage %>" alt="image" style="width:50%">
                <h4 class="mt-3"><%= value.userFname + ' ' + value.userLname%></h4>
                <p class="mt-2">รหัส : <%= value.userPosition%></p>
                <p class="title">นามเรียกขาน : <%= value.userArea %></p> 
                <p class="title">เบอร์โทรติดต่อ : ว่าง </p> 
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm btn-block" data-dismiss="modal">ปิดหน้าต่าง</button>
            </div>
          </div>
        </div>
      </div>

<% }) }else{ %>
  <tr>
    <td class="text-center" colspan="6">----- ไม่มีข้อมูล -----</td>
</tr>
<% } %>

      </tbody>
  </table>
</div>
</div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>powered by Marutthep Rompho Sotfware lpru</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



<%- include('../../component/admin/scriptJs')%>

</body>
<script>

  $(document).ready(function() {
      $('#example').DataTable( {
          "lengthMenu": [[20, 50, 100], [20, 50, 100]]
      } );
  } );
  
  </script>
</html>
