<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../../component/admin/head')%>
  <title>backend : สมาคมกู้ภัยจังหวัดลำปาง</title>


</head>

<body id="page-top loadedPage"   onload="myFunction()">
  <div id="loader"></div>

   <%- include('../../component/admin/navbar')%>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../../component/admin/sidebar')%>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/ManagerResource">จัดการรัพยากร</a>
          </li>
          <li class="breadcrumb-item active">ประวัติย้อนหลัง</li>
        </ol>
        <!-- DataTables Example -->
        <button 
        id="addResouce" 
        onclick="javescript:window.location.href='/ManagerResource/addresource'"
        class="p-2 mb-3 btn btn-success btn-sm"><i class="fas fa-plus"></i> เพิ่มทรัพยากร</button>
        <button 
        onclick="javascript:window.location.href='/historyAll'"
        class="p-2 mb-3 btn btn-secondary btn-sm"><i class="fas fa-redo-alt"></i> ประวัติย้อนหลัง</button>
        <button 
        onclick="javascript:window.location.href='/historyOneDay'"
        class="p-2 mb-3 btn btn-secondary btn-sm"><i class="far fa-calendar-check"></i> ทรัพยากรที่ใช้แต่ละวัน</button>
        <div class="float-right">
          <button
          onclick="javascript:window.location.href='/exportResource'"
          class="p-2 mb-3 btn btn-warning btn-sm"><i class="fas fa-exchange-alt"></i> เบิกทรัพยากร</button
            >
        </div>
  

        <div style="display:none;" id="loadedPage" class="animate-bottom">
<div class="table-responsive">
  <table data-order='[[ 0, "DESC" ]]' class="table table-striped table-sm" id="dataTable"  width="100%" cellspacing="0">
      <thead>
          <tr>
            <th>วัน/เดือน/ปี</th>
              <th>รายการ</th>
              <th>กิจกรรมที่เบิก</th>
              <th>จำนวน</th>
              <th>สถานะ</th>
          </tr>
      </thead>
      <tbody>
        <% if(listHitoryAll != ''){ %>
          <% listHitoryAll.map((value,index) => {  %>
              <%  
              var date = value.deRes_date.toLocaleString();
             var day = date.slice(0,10).replace(/-/g,"-")
             var day = date.slice(0,10).replace(/,/g,"")
          %>
          <tr>
              <td><%= day %></td>
              <td><%= value.resName %></td>
              <td><%= value.actName %></td>
              <td><%= value.total %></td>
              <td><%= value.deRes_status %></td>
          </tr>
<% }) }else{ %>
  <tr>
    <td class="text-center" colspan="6">----- ไม่มีข้อมูล -----</td>
</tr>
<% } %>

      </tbody>
  </table>
</div>
</div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>powered by Marutthep Rompho Sotfware lpru</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



<%- include('../../component/admin/scriptJs')%>

</body>
</html>
