<!DOCTYPE html>
<html lang="en">

<head>

  <% if(data.css === true) { %>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  
    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

  <% }else {%>
    <%- include('../../component/admin/head')%>
    <%  }%>
  <title>backend : สมาคมกู้ภัยจังหวัดลำปาง</title>

<style>
  .mystyle {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffeeba;
  color: #856404;
  font-size: 16px;
  box-sizing: border-box;
}
</style>
</head>

<body id="page-top"  id="loadedPage" onload="myFunction()">
  <div id="loader"></div>
   <%- include('../../component/admin/navbar')%>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../../component/admin/sidebar')%>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/ManagerResource">จัดการทรัพยากร</a>
          </li>
          <li class="breadcrumb-item active">ภาพรวม</li>
        </ol>

        <!-- DataTables Example -->
        <button 
        id="addResouce" 
        onclick="javescript:window.location.href='/ManagerResource/addresource'"
        class="p-2 mb-3 btn btn-success btn-sm"><i class="fas fa-plus"></i> เพิ่มทรัพยากร</button>
        <button 
        onclick="javascript:window.location.href='/historyAll'"
        class="p-2 mb-3 btn btn-light btn-sm"><i class="fas fa-redo-alt"></i> ประวัติย้อนหลัง</button>
        <button 
        onclick="javascript:window.location.href='/historyOneDay'"
        class="p-2 mb-3 btn btn-light btn-sm"><i class="far fa-calendar-check"></i> ทรัพยากรที่ใช้แต่ละวัน</button>
        <div class="float-right">
          <button
          onclick="javascript:window.location.href='/exportResource'"
          class="p-2 mb-3 btn btn-warning btn-sm"><i class="fas fa-exchange-alt"></i> เบิกทรัพยากร</button
            >
        </div>
        <div style="display:none;" id="loadedPage" class="animate-bottom">
          <% if(data.err === false ){  %>

            <% } else{ %>
          <div class="<%= data.cls %>" role="alert">
            <%= data.msg %>
          </div>
          <%}%>

          <div id="msg" class="" role="alert"></div>
          
            <div class="table-responsive">
              <table  data-order='[[ 1, "DESC" ]]' class="table table-bordered table-sm " id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>รายการ</th>
                    <th>คงเหลือ</th>
                    <th>ตัวเลือก</th>
                  </tr>
                </thead>
                <tbody>
                  <% listsResource.map((value,index) => { %>
                  <tr >
                    <td class="<%= value.resAmount == 0 ? 'bg-red text-white' : '' %>"><%= value.resName %></td>
                    <td class="<%= value.resAmount == 0 ? 'bg-red text-white' : '' %>"><%= value.resAmount %></td>
                    <td>
                      <button 
                      onclick="return ConfirmPlus(<%= value.resId %>)"
                      class="btn btn-info btn-sm"> 
                        +เพิ่มจำนวน
                       </button>
                       <button 
                       onclick="javascript:window.location.href='/ManagerResource/editresource/<%= value.resId %>'"
                       class="btn btn-sm editIcon"><i class="fas fa-pen"></i>
                     </button>
                     <button 
                     data-toggle="modal" data-target="#DeleteModal<%= index%>"
                     class="btn btn-sm deleteIcon"><i class="fas fa-trash"></i></button>
                    </td>
                  </tr>
      
                     <!-- modal -->
                     <div class="modal fade" id="DeleteModal<%= index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ต้องการลบใช่ไหม ?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <div class="modal-body">เลือก"ลบ"เพื่อลบข้อมูลออกจากฐานข้อมูลทั้งหมด</div>
                          <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">ยกเลิก</button>
                            <a class="btn btn-danger" href="/delresource/<%= value.resId %>">ลบ</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End modal -->
      
                 <% }) %>
                </tbody>
              </table>
      
     
            </div>
      </div>

      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>powered by Marutthep Rompho Sotfware lpru</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

    <%- include('../../component/admin/scriptJs')%>
    


</body>
<script>

  // var socket = io(); //connect
  
  // $("#addResouce").change( () => {
  //   socket.emit('updateResouce', $("#value").val());
  // });
  // socket.on('updateResouce', (respon) => {
  //   $("#txt").text(respon[0].resAmount);
  //   if($("#value").val() === ''){$("#txt").text('');}
  // });
  
  function ConfirmPlus(idres) {
      var txt;
      var person = prompt("กรุณาใส่จำนวนที่ต้องการเพิ่ม:", "0");
      var numbers = /^[0-9]+$/;
      if (person.match(numbers) && person > 0) {
          txt = "กำลังประมวลผล";
          $.post("/AddAmount", { resId:idres, Amount:person } ); 
          // window.location.href = '/AddAmount?resId=' + idres + '&Amount=' + person;
          setTimeout(() => {
            location.href="/ManagerResource"
          }, 500);
          
      }
      else {
          txt = "กรุณาใส่จำนวน หรือ จำนวนเกินกว่าที่เบิก";
          // window.location.href = '/AddAmount?resId=' + idres + '&Amount=' + person;
      }
      document.getElementById("msg").innerHTML = txt;
      document.getElementById("msg").classList.add("mystyle");
      // idres.preventDefault();
  }

    
  </script>

</html>
