<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
  <%- include('../../component/admin/head')%>
  <title>backend : สมาคมกู้ภัยจังหวัดลำปาง</title>
</head>
<!-- class="sidebar-toggled" -->
<body id="page-top"  id="loadedPage" onload="myFunction()">
  <div id="loader"></div>




   <%- include('../../component/admin/navbar')%>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../../component/admin/sidebar')%>

    <div id="content-wrapper">
      <div class="p-5 m-3 bg-info text-white"> 
        <h2>ยินดีต้อนรับ <%= name %>!</h2>
      </div>
      
      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/main">แผงควบคุม</a>
          </li>
          <li class="breadcrumb-item active">ภาพรวม</li>
        </ol>
        <div style="display:none;" id="loadedPage" class="animate-bottom">
        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">

            <div class="card mb-3 o-hidden" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4 text-center pt-4 p-3" style="background: #6ccac9;color: white;">
                  <i style="font-size: 60px;" class="fas fa-user"></i>
                </div>
                <div class="col-md-8 text-center" > 
                  <div class="card-body">
                    <h5 style="font-size: 30px;" class="card-title"><%= user.length %></h5>
                    <p class="card-text">บุคลากร</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card mb-3 o-hidden" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4 text-center pt-4 p-3" style="background: #f8d347;color: white;">
                  <i style="font-size: 60px;" class="fas fa-indent"></i>
                </div>
                <div class="col-md-8 text-center">
                  <div class="card-body">
                    <h5 style="font-size: 30px;" class="card-title"><%= activity.length %></h5>
                    <p class="card-text">กิจกรรม</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card mb-3 o-hidden" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4 text-center pt-4 pb-3" style="background: #57c8f2;color: white;">
                  <i style="font-size: 60px;" class="fas fa-box-open"></i>
                </div>
                <div class="col-md-8 text-center">
                  <div class="card-body">
                    <h5 style="font-size: 30px;" class="card-title"> <%= resource.length %></h5>
                    <p class="card-text">ทรัพยากร</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


        <!-- DataTables Example -->
        
<!-- Area Chart Example-->

<hr>

<div class="row">
  <div class="col-lg-8">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-chart-bar"></i>
        กิจกรรมปี<%= Months.yearNow %> </div>
      <div class="card-body">
        <canvas id="myBarChart" width="100%" height="45"></canvas>
      </div>
    </div>
  </div>

</div>
</div>
</div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      

      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>powered by Marutthep Rompho Sotfware lpru</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


<%- include('../../component/admin/scriptJs')%>
<script>

  // Set new default font family and font color to mimic Bootstrap's default styling
  Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
  Chart.defaults.global.defaultFontColor = '#292b2c';


  // Bar Chart Example
  var ctx = document.getElementById("myBarChart");
  var myLineChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["มกราคม", "กุมภาพันธ์", "มีนาคม ", "เมษายน ", "พฤษภาคม ", "มิถุนายน ", "กรกฎาคม ", "สิงหาคม ", "กันยายน ", "ตุลาคม ", "พฤศจิกายน ", "ธันวาคม "],
      datasets: [{
        label: "จำนวน",
        backgroundColor: "rgba(2,117,216,1)",
        borderColor: "rgba(2,117,216,1)",



        data: [<%=Months.January %>,<%=Months.February%>, <%=Months.March%> , <%=Months.April%> , <%=Months.May%> , <%=Months.June%> , <%=Months.July%> , <%=Months.August%> , <%=Months.September%> , <%=Months.October%> ,<%= Months.November%> , <%=Months.December%> ],
        
      }],
    },
    options: {
      scales: {
        xAxes: [{
          time: {
            unit: 'month'
          },
          gridLines: {
            display: true
          },
          ticks: {
            maxTicksLimit: 12
          }
        }],
        yAxes: [{
          ticks: {
            min: 0,
            max: 15,
            maxTicksLimit: 6
          },
          gridLines: {
            display: true
          }
        }],
      },
      legend: {
        display: true
      }
    }
  });

</script>
</body>

</html>
