<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="http://52.187.127.249/image/logo.png" />
      <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
    <title>เพิ่มงานกิจกรรม</title>
</head>


<body id="page-top"  id="loadedPage" onload="myFunction()">
  <div id="loader"></div>
    <%- include('../../component/admin/navbar')%>
 
   <div id="wrapper">
 
     <!-- Sidebar -->
     <%- include('../../component/admin/sidebar.ejs')%>
 
     <div id="content-wrapper">
       <div class="container-fluid">


<% if(data.isEdit === true ){
  activity.map(value => {  %>


      <!-- Breadcrumbs edit -->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/ManagerActivity">จัดการงานกิจกรรม</a>
        </li>
        <li class="breadcrumb-item active">แก้ไขงานกิจกรรม</li>
      </ol>

<!-- DataTables Example edit -->
<div style="display:none;" id="loadedPage" class="animate-bottom">
<div class="container">
<div class="card card-register mx-auto mt-5">
  <div class="card-header">แก้ไขงานกิจกรรม</div>
  <div class="card-body">
    <form action="/ManagerActivity/editactivity/<%= value.actId %>" method="POST">
      <div class="form-group">
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-label-group">
              <input 
              maxlength="30"
              pattern="[a-zA-Zก-ุฯ-๙\s0-9()]*"
              value="<%= value.actName %>" type="text" name="name" id="name" class="form-control" placeholder="ชื่อกิจกรรม" required="required" autofocus="autofocus" title="ห้ามกรอกตัวอักษรพิเศษ">
              <label for="name">ชื่อกิจกรรม</label>
            </div>
          </div> 
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <div class="form-label-group">
            <input value="<%= value.actDate.toISOString().slice(0,10).replace(/-/g,"-")%>" type="date" name="date" id="date" class="form-control" placeholder="วันที่จัดกิจจกรม" required="required">
            <label for="date">วันเริ่มกิจกรรม</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-label-group">
            <input value="<%= value.actEnd.toISOString().slice(0,10).replace(/-/g,"-")%>" type="date" name="dateEnd" id="dateEnd" class="form-control" placeholder="วันที่สิ้นสุดกิจกรรม" required="required">
            <label for="dateEnd">วันสิ้นสุดกิจกรรม</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-label-group">
          <input 
          pattern="[0-9]*"
          min="1"
          max="999"
          value="<%= value.actScore %>"  type="number" name="score" id="score" class="form-control" placeholder="คะแนนกิจกรรม" required="required" title="กรอกเฉพราะตัวเลขเท่านั้น (ห้ามติดลบ)">
          <label for="score">คะแนนกิจกรรม</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <textarea 
          maxlength="255"
          type="textarea" name="detail" id="detail" class="form-control" placeholder="รายละเอียดกิจกรรม" required="required"><%= value.actDetail %></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-success">แก้ไข</button>
    </form>
  </div>
  </div>
</div>
</div>
<!-- /.container-fluid edit-->


  <% })} else { %>
         <!-- Breadcrumbs edit -->
         <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/ManagerActivity">จัดการงานกิจกรรม</a>
          </li>
          <li class="breadcrumb-item active">เพิ่มงานกิจกรรม</li>
        </ol>

 <!-- DataTables Example edit -->
 <div style="display:none;" id="loadedPage" class="animate-bottom">
 <div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">+ เพิ่มงานกิจกรรม</div>
    <div class="card-body">
      <form action="/ManagerActivity/addactivity/activity" method="POST">
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-12">
              <div class="form-label-group">
                <input 
                maxlength="30"
                pattern="[a-zA-Zก-ุฯ-๙\s0-9()]*"
                value="" type="text" name="name" id="name" class="form-control" placeholder="ชื่อกิจกรรม" required="required" autofocus="autofocus" title="ห้ามกรอกตัวอักษรพิเศษ">
                <label for="name">ชื่อกิจกรรม</label>
              </div>
            </div>
            <% 
var today = new Date();
var dd = today.getDate() 
var mm = today.getMonth() + 1
var yyyy = today.getFullYear() + 543
if (dd < 10) {
  dd = '0' + dd;
} 
if (mm < 10) {
  mm = '0' + mm;
} 
today = yyyy + '-' + mm + '-' + dd;
%>
         
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <div class="form-label-group">
              <input value="<%= today %>" type="date" name="date" id="date" class="form-control" placeholder="วันเริ่มกิจกรรม" required="required">
              <label for="date">วันเริ่มกิจกรรม</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-label-group">
              <input value="<%= today %>" type="date" name="dateEnd" id="dateEnd" class="form-control" placeholder="วันสิ้นสุดกิจกรรม" required="required">
              <label for="dateEnd">วันสิ้นสุดกิจกรรม</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input 
            pattern="[0-9]*"
            min="1"
            max="999"
            value=""  type="number" name="score" id="score" class="form-control" placeholder="คะแนนกิจกรรม" required="required" title="กรอกเฉพราะตัวเลขเท่านั้น(ห้ามติดลบ)">
            <label for="score">คะแนนกิจกรรม</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <textarea 
            maxlength="255"
            value="" type="textarea" name="detail" id="detail" class="form-control" placeholder="รายละเอียดกิจกรรม" required="required"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-success">บันทึก</button>
        <button type="reset" class="btn btn-secondary">เคลียร์</button>
      </form>
    </div>
    </div>
  </div>
</div>
<!-- /.container-fluid edit-->
<% }%>

       <!-- Sticky Footer -->
       <footer class="sticky-footer">
         <div class="container my-auto">
           <div class="copyright text-center my-auto">
             <span>powered by Marutthep Rompho Sotfware lpru</span>
           </div>
         </div>
       </footer>
 
     </div>
     <!-- /.content-wrapper -->
 
   </div>
   <!-- /#wrapper -->
 
   <!-- Scroll to Top Button-->
   <a class="scroll-to-top rounded" href="#page-top">
     <i class="fas fa-angle-up"></i>
   </a>
 
 
 <%- include('../../component/admin/scriptJs')%>
 
 </body>
</html>