<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

    <title>เพิ่มบุคลากร</title>
</head>


<body id="page-top"  id="loadedPage" onload="myFunction()">
  <div id="loader"></div>

    <%- include('../../component/admin/navbar')%>
 
   <div id="wrapper">
 
     <!-- Sidebar -->
     <%- include('../../component/admin/sidebar.ejs')%>
 
     <div id="content-wrapper">
       <div class="container-fluid">
         <% if (data.isEdit === true) { 
           user.map(value => {
            %>
         <!-- Breadcrumbs edit -->
         <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/ManagerUser">จัดการบุคลากร</a>
          </li>
          <li class="breadcrumb-item active">แก้ไขบุคลากร</li>
        </ol>
        
        <div style="display:none;" id="loadedPage" class="animate-bottom">
 <!-- DataTables Example edit -->
 <div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">แก้ไขบุคลากร</div>
    <div class="card-body">
      <form action="/editUser/<%= value.userId %>" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input pattern="[a-zA-Zก-ุฯ-๙\s]*" value="<%= value.userFname %>" type="text" name="firstName" id="firstName" class="form-control" placeholder="ชื่อ" required="required" autofocus="autofocus">
                <label for="firstName">ชื่อ</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-label-group">
                <input pattern="[a-zA-Zก-ุฯ-๙\s]*" value="<%= value.userLname %>" type="text" name="lastName" id="lastName" class="form-control" placeholder="นามสกุล" required="required">
                <label for="lastName">นามสกุล</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input value="<%= value.userArea %>"  type="text" name="area" id="area" class="form-control" placeholder="นามเรียกขาน" required="required">
            <label for="area">นามเรียกขาน</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input
            minlength="8"
            maxlength="8"
            pattern="[0-9\s]*" value="<%= value.userPosition %>"  type="text" name="positionId" id="positionId" class="form-control" placeholder="รหัสประจำตำแหน่ง" required="required">
            <label for="positionId">รหัสประจำตำแหน่ง</label>
          </div>
        </div>

          <label class="radio-inline"><input name="sex" value="ชาย" type="radio" checked name="optradio"> ชาย</label>
          <label class="radio-inline"><input name="sex" value="หญิง" type="radio" name="optradio"> หญิง</label>

        <div class="form-group">
          <div class="form-label-group">
            <input value="<%= value.userBirth.toISOString().slice(0,10).replace(/-/g,"-") %>" type="date" name="date" id="date" class="form-control" placeholder="วันเกิด" required="required">
            <label for="date">วันเกิด</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input 
            minlength="13"
            maxlength="13"
            pattern="[0-9\s]*" value="<%= value.userIdCard %>" type="text" name="idCard" id="idCard" class="form-control" placeholder="บัตรประชาชน" >
            <label for="idCard">บัตรประชาชน</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
              <input value="<%= value.userAddress %>" name="address" id="address" class="form-control" placeholder="ที่อยู่"></input>
            <label for="address">ที่อยู่</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input value="<%= value.userEmail %>" type="email" name="Email" id="Email" class="form-control" placeholder="อีเมล์" >
            <label for="Email">อีเมล์</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input
            minlength="10"
            maxlength="10"
            pattern="[0-9\s]*" value="<%= value.userTel %>" type="text" name="tel" id="tel" class="form-control" placeholder="Email address">
            <label for="tel">เบอร์โทร</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <select name="status" id="status" class="form-control" required>
              <option <%= value.userStatus === 'user' ? 'selected="selected"' : '' %>  value="user">บุคลากร</option>
              <option <%= value.userStatus === 'admin' ? 'selected="selected"' : '' %>  value="admin">ผู้ดูแล</option>
            </select>
          </div>
        </div>
        <div class="form-group" id="hideImage">
        <img width="200" src="/uploads/<%= value.userImage%>" alt="">
        </div>
        
        <div class="form-group">
          <img width="200" id="output"/>
        </div>
        <div class="form-group" id="uploadImage">
          <input  type="file" accept="image/*" name="avatar" id="avatar"  accept="image/png, image/jpeg" onchange="loadFile(event)">
        </div>
        <button>แก้ไข</button>
      </form>
    </div>
    </div>
    </div>
  </div>

<!-- /.container-fluid edit-->


          <% }) }else{ %>

         <!-- Breadcrumbs-->
         <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/ManagerUser">จัดการบุคลากร</a>
          </li>
          <li class="breadcrumb-item active">เพิ่มบุคลากร</li>
        </ol>
        <div style="display:none;" id="loadedPage" class="animate-bottom">
         <!-- DataTables Example -->
         <div class="container">
            <div class="card card-register mx-auto mt-5">
              <div class="card-header">+เพิ่มบุคลากร</div>
              <div class="card-body">
                <form action="/adduser" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-6">
                        <div class="form-label-group">
                          <input 
                          minlength="3"
                          maxlength="25"
                          pattern="[a-zA-Zก-ุฯ-๙\s]*" value="test" type="text" name="firstName" id="firstName" class="form-control" placeholder="ชื่อ" required="required" autofocus="autofocus">
                          <label for="firstName">ชื่อ</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-label-group">
                          <input pattern="[a-zA-Zก-ุฯ-๙\s]*" type="text" name="lastName" id="lastName" class="form-control" placeholder="นามสกุล" required="required">
                          <label for="lastName">นามสกุล</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label-group">
                      <input type="text" name="area" id="area" class="form-control" placeholder="นามเรียกขาน" required="required">
                      <label for="area">นามเรียกขาน</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label-group">
                      <input 
                      minlength="8"
                      maxlength="8"
                      pattern="[0-9\s]*" type="text" name="positionId" id="positionId" class="form-control" placeholder="รหัสประจำตำแหน่ง" required="required">
                      <label for="positionId">รหัสประจำตำแหน่ง</label>
                    </div>
                  </div>

                    <label class="radio-inline"><input name="sex" value="ชาย" type="radio" checked name="optradio"> ชาย</label>
                    <label class="radio-inline"><input name="sex" value="หญิง" type="radio" name="optradio"> หญิง</label>

                  <div class="form-group">
                    <div class="form-label-group">
                      <input type="date" name="date" id="date" class="form-control" placeholder="วันเกิด" required="required">
                      <label for="date">วันเกิด</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label-group">
                      <input 
                      minlength="13"
                      maxlength="13"
                      pattern="[0-9\s]*" type="text" name="idCard" id="idCard" class="form-control" placeholder="บัตรประชาชน" >
                      <label for="idCard">บัตรประชาชน</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label-group">
                        <input  name="address" id="address" class="form-control" placeholder="ที่อยู่"></input>
                      <label for="address">ที่อยู่</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label-group">
                      <input type="email" name="Email" id="Email" class="form-control" placeholder="อีเมล์" >
                      <label for="Email">อีเมล์</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label-group">
                      <input  
                      minlength="10"
                      maxlength="10"
                      pattern="[0-9\s]*" type="text" name="tel" id="tel" class="form-control" placeholder="tel">
                      <label for="tel">เบอร์โทร</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label-group">
                      <select name="status" id="status" class="form-control" required>
                        <option value="user">บุคลากร</option>
                        <option value="admin">ผู้ดูแล</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <img width="200" id="output"/>
                  </div>
                  <!-- <img src="/uploads/defaultImage.png" alt=""> -->
                  <div class="form-group">
                    <input type="file" accept="image/*" name="avatar" id="avatar"  accept="image/*" onchange="loadFile(event)">
                  </div>
                  <button class="btn btn-success">ลงทะเบียน</button>
                </form>
        
              </div>
            </div>
          </div>
        </div>
       <!-- /.container-fluid -->
 
       <% } %>
       <!-- Sticky Footer -->
       <footer class="sticky-footer">
         <div class="container my-auto">
           <div class="copyright text-center my-auto">
             <span>powered by Marutthep Rompho Sotfware lpru</span>
           </div>
         </div>
       </footer>
 
     </div>
     <!-- /.content-wrapper -->
 
   </div>
   <!-- /#wrapper -->
 
   <!-- Scroll to Top Button-->
   <a class="scroll-to-top rounded" href="#page-top">
     <i class="fas fa-angle-up"></i>
   </a>
 
 
 <%- include('../../component/admin/scriptJs')%>
 
 
 </body>
 <script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    document.getElementById("hideImage").style.display = "none";
    output.src = URL.createObjectURL(event.target.files[0]);
  };
</script>

</html>