<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
          <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
    <title>ค้นหาบุคลากร</title>
</head>
<body id="page-top"  id="loadedPage" onload="myFunction()">
  <div id="loader"></div>

<!-- navbar -->
<nav class="navbar navbar-dark bg-navbar navbar-expand-lg " id="navbar">
  <div class="container">
    <a class="navbar-brand my-auto" href="/home">
      <img
        src="/image/logo.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-white">
        <li class="nav-item active">
          <a class="nav-link" href="/home"
            >หน้าแรก <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/CheckUser">ค้นหาบุคลากร</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link color-me" href="#">ติดต่อสอบถาม</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- navbar -->

  <div style="display:none;" id="loadedPage" class="animate-bottom">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <% if(data.err == true) { %>
          <div class="<%= data.cls %>" role="alert">
            <div class="form-inline">
            <img class="mr-3 mb-2" width="150"  height="200" src="/uploads/<%= data.image %>" alt=""> 
            ชื่อ : <%= data.name %>  <br>
            รหัสประจำตำแหน่ง : <%= data.code %> <br>
            พื้นที่ดูแล : <%= data.Area %>
          </div>
          </div>

          <% }else { }%>
          <div class="card-header text-center text-white" style="background-color: #73696a;">ค้นหาบุคลากร (รหัสประจำตำแหน่ง)</div>
          <div class="card-body" style="background-color: #787977;">
            <form class="" action="/PostCheckUser" method="POST">
              <div class="form-group" style="margin: 0 auto;">
                <div class="form-label-group">
                  <input 
                  pattern="\d*" minlength="8" maxlength="8"
                  type="text" name="code" id="code" class="form-control " placeholder="รหัสประจำตำแหน่ง" required="required">
                  <label for="code">รหัสประจำตำแหน่ง</label>
                </div>
              </div>
              
              <button class="btn btn-success mt-3 btn-block">ค้นหา</button>
        
              
            </form>
      
          </div>
        </div>
      </div>
      <p class="lead text-center mt-5">กลับหน้าหลัก
        <a href="/home">คลิ๊ก</a>
      </div>
</body>
<%- include('../../component/admin/scriptJs')%>
</html>