<!DOCTYPE html>
<html lang="en">

<head>

<% if(data.css === true) { %>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
<% }else {%>
  <%- include('../../component/admin/head')%>
  <%  }%>
  <title>backend : สมาคมกู้ภัยจังหวัดลำปาง</title>
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
    }
    
    </style>
</head>

<body id="page-top"  id="loadedPage" onload="myFunction()">
  <div id="loader"></div>
   <%- include('../../component/admin/navbar')%>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../../component/admin/sidebar.ejs')%>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/ManagerUser">จัดการบุคลากร</a>
          </li>
          <li class="breadcrumb-item active">รายละเอียดบุคลากร</li>
        </ol>

        <div style="display:none;" id="loadedPage" class="animate-bottom">
         

          <div class="card">

            <img src="/uploads/<%= user[0].userImage %>" alt="image" style="width:100%">
            <h4 class="mt-3"><%= user[0].userFname + ' ' + user[0].userLname%></h4>
            <p class="mt-2">รหัส : <%= user[0].userPosition%></p>
            <p class="title">นามเรียกขาน : <%= user[0].userArea %></p>
            <p>คะแนน : <%= user[0].userAllScore %></p>
              <button 
              onclick="javascript:window.history.back();"
              class="btn btn-sm btn-secondary btn-block">กลับหน้าเดิม</button>
            </div>
            <!-- <button><button>Contact</button></p> -->

          </div>
        </div>
        
                      
        
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>powered by Marutthep Rompho Sotfware lpru</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>




</body>
<%- include('../../component/admin/scriptJs')%>
</html>
