<!DOCTYPE html>
<html lang="en">

<head>
<style>
      .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
    }
    .pointer {cursor: pointer;}
    

    .loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}



.mystyle {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffeeba;
  color: #856404;
  font-size: 16px;
  box-sizing: border-box;
}

  </style>
<% if(data.css === true) { %>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
<% }else {%>
  <%- include('../../component/admin/head')%>
  <%  }%>
  

</head>

<body id="page-top" id="loadedPage">
  <div id="loader"></div>
  <!-- <div class="loader">
    <img
      src="https://pixelpapa.com/wp-content/uploads/2018/11/32.gif"
      alt="Loading..."
    />
  </div> -->
   <%- include('../../component/admin/navbar')%>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../../component/admin/sidebar.ejs')%>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/ManagerUser">จัดการบุคลากร</a>
          </li>
          <li class="breadcrumb-item active">ภาพรวม</li>
        </ol>

        <!-- DataTables Example -->
        <button 
        onclick="javascript:window.location.href='/ManagerUser/adduser'"
        class="p-2 mb-3 btn btn-success btn-sm"
        ><i class="fas fa-plus"></i> เพิ่มบุคลากร</button>
        <button 
        onclick="ConfirmReset()"
        class="p-2 mb-3 btn btn-secondary btn-sm"><i class="fas fa-redo-alt"></i> รีเซทรหัสผ่าน</button>
  
        

          <% if(data.err === false ){  %>

            <% } else{ %>
          <div class="<%= data.cls %>" role="alert">
            <%= data.msg %> <%= data.pass != '' ? data.pass : '' %> 
          </div>
          <%}%>
          <div id="msg" class="" role="alert">
          </div>
          <div style="display:none;"" id="loadedPage" class="animate-bottom"><!-- None -->
              <div class="table-responsive">
                <table data-order='[[ 1, "asc" ]]' class="table-sm table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>รูป</th>
                      <th>รหัส</th>
                      <th>ชื่อ-นามสกุล</th>
                      <th>นามเรียกขาน</th>
                      <th>คะแนน</th>
                      <th>สถานะ</th>
                      <th>ตัวเลือก</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% listsUser.map((value, index) => {  %>
                    <tr>
                      <td class="align-middle" 
                      data-toggle="modal" data-target="#ModalShowImage<%= index%>"><a class="pointer">
                        <img style="width: 100px;" src="/uploads/<%= value.userImage %>" alt="">
                      </a></td>
                      <td class="align-middle"><%= value.userPosition%></td>
                      <td class="align-middle"><%= value.userFname +' '+ value.userLname%></td>
                      <td class="align-middle"><%= value.userArea %></td>
                      <td class="align-middle"><%= value.userAllScore %></td>
                      <td class="align-middle"><%= value.userStatus %></td>
                      <td class="align-middle">
                        <button onclick="javascript:window.location.href='/ManagerUser/edituser/<%= value.userId %>'"
                          class="btn btn-sm editIcon"><i class="fas fa-pen"></i></button>
                        <button data-toggle="modal" data-target="#DeleteModal<%= index%>" class="btn btn-sm deleteIcon"><i
                            class="fas fa-trash"></i></button>
                      </td>
                    </tr>

                    <!-- Modal -->
<div class="modal fade" id="ModalShowImage<%= index %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">คุณ <%= value.userFname + ' ' + value.userLname%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <img src="/uploads/<%= value.userImage %>" alt="image" style="width:100%">
          <h4 class="mt-3"><%= value.userFname + ' ' + value.userLname%></h4>
          <p class="mt-2">รหัส : <%= value.userPosition%></p>
          <p class="title">นามเรียกขาน : <%= value.userArea %></p>
          <p>คะแนน : <%= value.userAllScore %></p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm btn-block" data-dismiss="modal">ปิดหน้าต่าง</button>
      </div>
    </div>
  </div>
</div>
        
                       <!-- modal -->
                       <div class="modal fade" id="DeleteModal<%= index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                       aria-hidden="true">
                       <div class="modal-dialog" role="document">
                         <div class="modal-content">
                           <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLabel">ต้องการลบใช่ไหม ?</h5>
                             <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">×</span>
                             </button>
                           </div>
                           <div class="modal-body">เลือก"ลบ"เพื่อลบข้อมูลออกจากฐานข้อมูลทั้งหมด</div>
                           <div class="modal-footer">
                             <button class="btn btn-secondary" type="button" data-dismiss="modal">ยกเลิก</button>
                             <a class="btn btn-danger" href="/ManagerUser/deluser/<%= value.userId %>">ลบ</a>
                           </div>
                         </div>
                       </div>
                     </div>
                     <!-- End modal -->
        
                    <% }) %>
                  </tbody>
                </table>
              </div>
        </div>
      </div>
                      
        
      <!-- /.container-fluid -->
<div class="mt-5"></div>
      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>powered by Marutthep Rompho Sotfware lpru</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>




</body>

<%- include('../../component/admin/scriptJs')%>

<script>


  function ConfirmReset() {
      var txt;
      var person = prompt("กรุณาใส่รหัสประจำตัวที่ต้องการรีเซท:", "0");
      var numbers = /^[0-9]+$/;
      if (person.match(numbers)) {
        const generateRandomCode = (() => {
        const USABLE_CHARACTERS = "abcdefghijklmnopqrstuvwxyz0123456789".split("");
        return length => {
          return new Array(length).fill(null).map(() => {
            return USABLE_CHARACTERS[Math.floor(Math.random() * USABLE_CHARACTERS.length)];
          }).join("");
        }
      })();
      const code = generateRandomCode(10)
              // txt = "เรียบร้อย";
          // console.log("ok " , person);
          window.location.href = '/resetPass?newPass=' + code + '&position=' + person;

      }
      else {
          txt = "กรุณากรอกเป็นตัวเลขเท่านั้น";
        // console.log('no', person);
        document.getElementById("msg").innerHTML = txt;
      document.getElementById("msg").classList.add("mystyle");
          // console.log("No " + idresId, idAct,total,person,sum);
      }
    
  }
</script>
</html>
