<!DOCTYPE html>
<html lang="en">

<head>

<% if(data.css === true) { %>
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
<% }else {%>
  <%- include('../../component/admin/head')%>
  <%  }%>
  <title>backend : สมาคมกู้ภัยจังหวัดลำปาง</title>

</head>

<body id="page-top"  id="loadedPage" onload="myFunction()">
  <div id="loader"></div>
   <%- include('../../component/admin/navbar')%>

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('../../component/admin/sidebar.ejs')%>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/ManagerUser">จัดการบุคลากร</a>
          </li>
          <li class="breadcrumb-item active">ภาพรวม</li>
        </ol>

        <!-- DataTables Example -->
        <button 
        onclick="javascript:window.location.href='/ManagerUser/adduser'"
        class="p-2 mb-3 btn btn-success btn-sm"
        ><i class="fas fa-plus"></i> เพิ่มบุคลากร</button>
        <div style="display:none;" id="loadedPage" class="animate-bottom">
          <% if(data.err === false ){  %>

            <% } else{ %>
          <div class="<%= data.cls %>" role="alert">
            <%= data.msg %>
          </div>
          <%}%>
              <div class="table-responsive">
                <table data-order='[[ 1, "asc" ]]' class="table-sm table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>รูป</th>
                      <th>รหัส</th>
                      <th>ชื่อ-นามสกุล</th>
                      <th>นามเรียกขาน</th>
                      <th>เพศ</th>
                      <th>สถานะ</th>
                      <th>ตัวเลือก</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% listsUser.map((value, index) => {  %>
                    <tr>
                      <td class="align-middle"><img style="width: 100px;" src="/uploads/<%= value.userImage %>" alt=""></td>
                      <td class="align-middle"><%= value.userPosition%></td>
                      <td class="align-middle"><%= value.userFname +' '+ value.userLname%></td>
                      <td class="align-middle"><%= value.userArea %></td>
                      <td class="align-middle"><%= value.userSex %></td>
                      <td class="align-middle"><%= value.userStatus %></td>
                      <td class="align-middle">
                        <button 
                        class="btn btn-sm btn-secondary"
                        ><i class="fas fa-user"></i></button>
                        <button onclick="javascript:window.location.href='/ManagerUser/edituser/<%= value.userId %>'"
                          class="btn btn-sm editIcon"><i class="fas fa-pen"></i></button>
                        <button data-toggle="modal" data-target="#DeleteModal<%= index%>" class="btn btn-sm deleteIcon"><i
                            class="fas fa-trash"></i></button>
                      </td>
                    </tr>
        
                       <!-- modal -->
                       <div class="modal fade" id="DeleteModal<%= index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                       aria-hidden="true">
                       <div class="modal-dialog" role="document">
                         <div class="modal-content">
                           <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLabel">ต้องการลบใช่ไหม ?</h5>
                             <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">×</span>
                             </button>
                           </div>
                           <div class="modal-body">เลือก"ลบ"เพื่อลบข้อมูลออกจากฐานข้อมูลทั้งหมด</div>
                           <div class="modal-footer">
                             <button class="btn btn-secondary" type="button" data-dismiss="modal">ยกเลิก</button>
                             <a class="btn btn-primary" href="/ManagerUser/deluser/<%= value.userId %>">ลบ</a>
                           </div>
                         </div>
                       </div>
                     </div>
                     <!-- End modal -->
        
                    <% }) %>
                  </tbody>
                </table>
              </div>
        </div>
        
                      
        
      <!-- /.container-fluid -->
<div class="mt-5"></div>
      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>powered by Marutthep Rompho Sotfware lpru</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>



</body>
<%- include('../../component/admin/scriptJs')%>
</html>
