<p class="text-left">
  บุคลากรที่มีชั่วโมงกิจกรรมสะสมมากที่สุด Top 10
</p>
<div class="table-responsive">
<table class="table table-sm table-bordered">
  <thead class="">
    <tr>
      <th scope="col">อับดับ</th>
      <th scope="col">รูป</th>
      <th scope="col">รหัส</th>
      <th scope="col">ชื่อ - สกุล</th>
      <th scope="col">คะแนน</th>
    </tr>
  </thead>
  <tbody >
    <% listTopTen.map((value,index) => {   %>
    <tr>
      <td class="align-middle"><%= index +1%></td>
      <td class="align-middle">
        <img
      width="95"
      height="125"

      src="/uploads/<%= value.userImage %>"
      alt=""
    />
      </td>
      <td class="align-middle"><%= value.userPosition %></td>
      <td class="align-middle"><%= value.userFname + ' ' + value.userLname%></td>
      <td class="align-middle"><%= value.userAllScore %></td>
    </tr>
    <%})%>
  </tbody >
</table>
</div>
